.app_pagelayout {
    padding-top: 7rem;
    min-height: 80vh;

    &--padding-top {
        padding-top: 10rem;
    }

    &--padding-side {
        padding: 0 10%;
    }

    @media (max-width: $tablet) {
        min-height: fit-content;
        padding-bottom: 3rem;
    }
}